# Build folders
bin/
obj/

# Visual Studio
.vs/

# Node.js
node_modules/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/

# Rider
.idea/
*.sln.iml

# Local environment
*.env
*.local
